@font-face{
    font-family: Sempliticita;
    src: url('assets/semplicita-bold.woff2');
    font-weight: bold;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/WOWClassicBG.mp4');
    height: 100vh;
    .bgVideo {
        position: absolute;
        top: 0;
        z-index: -9999;
    }
    .logo {
        width: 50vw;
        margin-bottom: 150px;
    }
}

$floatingWidth: 100vw;
$floatingHeight: calc(20vh - 10vw);

.floatingTimerContainer {
    width: $floatingWidth;
    min-height: 100px;
    height: $floatingHeight;
    background-image: url('./assets/bg.jpg');
    border-top: 5px solid black;
    position: absolute;
    bottom: 0px;
    left: calc(50vw - #{$floatingWidth/2});
    display: flex;
    justify-content: center;
    align-items: center;
}